<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgriGo</title>
    <link rel="stylesheet" href="css/styles.css">
    <script type="text/javascript" src="https://cdn.weglot.com/weglot.min.js"></script>
    <script>
        Weglot.initialize({
            api_key: 'wg_071d5e34f8f1e1ceb687198bc02625150'
        });
    </script>
</head>
<body>