<header>
    <h1>AgriGo</h1>
    <ul class="">  
        <li id="home"><a href="/">Home</a></li>
        <li id="shop"><a href="/products">Products</a></li>
        <li id="add_products"><a href="/add-products">Add Products</a></li>
        <li id="blog"><a href="/blog">Blog</a></li>
        <li id="register"><a href="/api/v1/auth/register">Register</a></li>
        <li id="login"><a href="/api/v1/auth/login">Login</a></li>
    </ul>  
</header>
