<header>
    <h1>AgriGo</h1>
    <ul class="">  
        <li id="home"><a href="/">Home</a></li>
        <li id="shop"><a href="/products">Products</a></li>
        <li id="add_products"><a href="/add-products">Add Products</a></li>
        <li id="blog"><a href="/blog">Blog</a></li>
        <li id="regiser"><a href="/accounts/register/farmer">Register</a></li>
        <li id="login"><a href="/accounts/login">Login</a></li>
    </ul>  
</header>
