<section id="header">
    <h3>Agrigo</h3>
    
    <div>
        <ul id="navbar">
            <li><a id="home" class="active" href="/">Home</a></li>
            <li><a id="shop" href="/shop">Shop</a></li>
            <li><a id="blog" href="/blog">Blog</a></li>
            <li><a id="signup" href="/accounts/register/consumer">Signup</a></li>   
            <!-- <li><a href="language.html">Language</a></li> -->
            <li><a id="login" href="/accounts/login">Login</a></li>
         
            <li><a id="home" href="#"><i class="far fa-shopping-bag"></i></a></li>
        </ul>
    </div>
</section>

<script>
    const url = window.location.href.split('/');
    let page = url[3];
    if(page == ''){ page = 'home'}
    document.querySelector('a.active').classList.remove('active');
    document.getElementById(page).classList.add('active')
</script>
