<div class="">
    <h2>Login</h2>
    <form action="/accounts/login" method="post">
        <label for="role">Role:</label>
        <select id="role" name="role">
            <option value="">Select Role</option>
            <option value="farmer">Farmer</option>
            <option value="consumer">Consumer</option>
        </select>

        <label for="username_email">Username/Email:</label>
        <input type="text" id="username_email" name="username_email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <input type="submit" value="Login">
    </form>
</div>