<%- include('./partials/head'); -%>

        <%- include('./partials/navbar'); -%>

        <section id="page-header">
            
            <h2>Eat Fresh</h2>
            
            <p>Stay healthy with Agrigo</p>
          
        </section>

        <section id="product1" class="section-p1">
            
            <div class="pro-container">
                <div class="pro">
                    <img src="img/features/lovepik-fruits-and-vegetables-poster-picture_501615020.jpg" width="200" height="200">
                    <div class="des">
                        
                        <h5>Vegetables</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    
                    </div>
                    <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                </div>    

                <div class="pro">
                    <img src="img/features/lovepik-fruits-and-vegetables-poster-picture_501615020.jpg" width="200" height="200">
                    <div class="des">
                        
                        <h5>Vegetables</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    
                    </div>
                    <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                </div> 
                <div class="pro">
                    <img src="img/features/lovepik-fruits-and-vegetables-poster-picture_501615020.jpg" width="200" height="200">
                    <div class="des">
                        
                        <h5>Vegetables</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    
                    </div>
                    <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                </div> 
                <div class="pro">
                    <img src="img/features/lovepik-fruits-and-vegetables-poster-picture_501615020.jpg" width="200" height="200">
                    <div class="des">
                        
                        <h5>Vegetables</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    
                    </div>
                    <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                </div> 
                <div class="pro">
                    <img src="img/features/lovepik-fruits-and-vegetables-poster-picture_501615020.jpg" width="200" height="200">
                    <div class="des">
                        
                        <h5>Vegetables</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    
                    </div>
                    <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                </div> 
                <div class="pro">
                    <img src="img/features/lovepik-fruits-and-vegetables-poster-picture_501615020.jpg" width="200" height="200">
                    <div class="des">
                        
                        <h5>Vegetables</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    
                    </div>
                    <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                </div> 
                <div class="pro">
                    <img src="img/features/lovepik-fruits-and-vegetables-poster-picture_501615020.jpg" width="200" height="200">
                    <div class="des">
                        
                        <h5>Vegetables</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    
                    </div>
                    <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                </div> 
                <div class="pro">
                    <img src="img/features/lovepik-fruits-and-vegetables-poster-picture_501615020.jpg" width="200" height="200">
                    <div class="des">
                        
                        <h5>Vegetables</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    
                    </div>
                    <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                </div> 
       
                <div class="pro">
                    <img src="img/features/lovepik-fruits-and-vegetables-poster-picture_501615020.jpg" width="200" height="200">
                    <div class="des">
                        
                        <h5>Vegetables</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    
                    </div>
                    <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                </div>    

                <div class="pro">
                    <img src="img/features/lovepik-fruits-and-vegetables-poster-picture_501615020.jpg" width="200" height="200">
                    <div class="des">
                        
                        <h5>Vegetables</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    
                    </div>
                    <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                </div> 
                <div class="pro">
                    <img src="img/features/lovepik-fruits-and-vegetables-poster-picture_501615020.jpg" width="200" height="200">
                    <div class="des">
                        
                        <h5>Vegetables</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    
                    </div>
                    <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                </div> 
                <div class="pro">
                    <img src="img/features/lovepik-fruits-and-vegetables-poster-picture_501615020.jpg" width="200" height="200">
                    <div class="des">
                        
                        <h5>Vegetables</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    
                    </div>
                    <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                </div> 
                <div class="pro">
                    <img src="img/features/lovepik-fruits-and-vegetables-poster-picture_501615020.jpg" width="200" height="200">
                    <div class="des">
                        
                        <h5>Vegetables</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    
                    </div>
                    <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                </div> 
                <div class="pro">
                    <img src="img/features/lovepik-fruits-and-vegetables-poster-picture_501615020.jpg" width="200" height="200">
                    <div class="des">
                        
                        <h5>Vegetables</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    
                    </div>
                    <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                </div> 
                <div class="pro">
                    <img src="img/features/lovepik-fruits-and-vegetables-poster-picture_501615020.jpg" width="200" height="200">
                    <div class="des">
                        
                        <h5>Vegetables</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    
                    </div>
                    <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                </div> 
                <div class="pro">
                    <img src="img/features/lovepik-fruits-and-vegetables-poster-picture_501615020.jpg" width="200" height="200">
                    <div class="des">
                        
                        <h5>Vegetables</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    
                    </div>
                    <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                </div> 
            </div>    
            

            
            
        </section>

        <section id="pagination" class="section-p1">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#"><i class="fal fa-long-arrow-alt-right"></i></a>
        </section>     

        <section id="newsletter" class="section-p1 section-m1" >
            <div class="newstext">
                <h4>Sign up for Newsletter </h4>
                <p>Get E-mail updates on iour latest products <span>Special offers</span>
                </p>
            </div>

            <div class="form">
                <input type="text" placeholder="your email address">
                <button class="normal">Sign up</button>
            </div>
        </section>

<%- include('./partials/footer'); -%>