@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    text-align: center;
}
h1{
    color:rgb(3, 129, 68);
    font-family: 'Poppins', sans-serif;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0;
}
  
.invisible{
    display: none;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}